{% if children|length %}
    <ul>
        {% for page in children %}
            <li class="offset1">
                <div class="node">
                    <span>{{ page.title }}</span>

                    <div class="pull-right">
                        <a href="{{ path('LansolePagesBundle_page', { 'path': page.path }) }}">Show</a>
                        <a href="{{ path('LansolePagesBundle_page_edit', { 'id': page.id }) }}">Edit</a>
                        <a href="{{ path('LansolePagesBundle_page_delete', { 'id': page.id }) }}">Delete</a>
                    </div>
                </div>

                {% include 'LansolePagesBundle:Admin:children.html.twig' with { 'children': page.children } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}