{% extends 'LansolePagesBundle:Core:layout.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block container %}
<div class="row admin">
    <div class="span16">
        <div class="page-header">
            <header>
                <h2>Edit "{{ page.title }}" Page</h2>
            </header>
        </div>
    </div>

    {% include 'LansolePagesBundle:Admin:form.html.twig' with { 'form': form, 'path': path('LansolePagesBundle_page_update', { 'id': page.id }) } %}
</div>
{% endblock %}