{% extends '::base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'LansoleBlogBundle:Core:stylesheets.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container pages">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'LansoleBlogBundle:Core:javascripts.html.twig' %}
{% endblock %}